@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-bg-color:purple;
    --main-color:rgb(201, 164, 164);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: Roboto;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 70vw;
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 0px 8px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 7px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--main-bg-color);
    color:white;
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
  }

.line-break{
    margin-top: 8px;
    margin-bottom: 4px;
}

.Author-name{
    color: var(--main-bg-color);
}


.form-box input, textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border-radius: 5px;
  }

  .form-box textarea{
      margin: 7px 0;
  }


.blog-top-img{
    height: 395px;
    display: flex;
    margin-top: 12px;
    padding: 9px;
}

.blog-top-img img{
    width: 100%;
    opacity: 0.90;
}

.blog{
    margin-bottom: 16px;
}

.blog p{
    font-size: 18px;
}



.blog p <span style="display: flex; flex-direction: column;">:hover{
    cursor: pointer;
}

.blog-article{
    margin-top: 100px;
}


.blog-article li{
    display: list-item;
    margin-left: 12px;
}

.blog-article ul{
    text-align: justify;
    margin-left: 52px;
    margin-top: 10px;

}

.blog-article ul li::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

