@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-bg-color:purple;
    --main-color:rgb(201, 164, 164);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: Roboto;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 70vw;
}

.m-auto{
    margin: auto;
}

.btn{
    padding: 0px 8px;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 7px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--main-bg-color);
    color:white;
}

.form-input{
    padding: 0 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 7px;
    margin: 0 12px;
    margin-top: 4px;
    font-family: var(--font1);
    transition: 0.3s ease-in-out;
}

.line-break{
    margin-top: 18px;
    margin-bottom: 4px;
}

.Author-name{
    color: var(--main-bg-color);
}

.form-box{
    margin: 12px;
}

.form-box input,textarea{
    width: 55vw;
    font-size: 12px;
    padding: 10px 6px;
    margin: 7px;
}




